@charset "utf-8";
/* CSS Document */

@import "mixin.scss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700;900;&display=swap');

html,
body{
	font-size: 3.6vw; //28pt相当ぐらいで
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 500; //300 500 700 900
	color: #323232;
	line-height: 1.8;

	@include mq(min_sm) {
		font-size: 22px;
	}
}
body{
	position: relative;
}
.sans_serif{
	font-family:  '游ゴシック', '游ゴシック体', 'メイリオ', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', 'sans-serif';
}

.inner{
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.poa,
.abs{
	position: absolute;
}
.ilb,
.dib{
	display: inline-block;
}
.tal{ text-align: left;}
.tac{ text-align: center;}
.tar{ text-align: right;}

.fz60{ font-size: 60%;}
.fz70{ font-size: 70%;}
.fz80{ font-size: 80%;}
.fz90{ font-size: 90%;}

.fz110{ font-size: 110%;}
.fz120{ font-size: 120%;}
.fz130{ font-size: 130%;}
.fz140{ font-size: 140%;}
.fz150{ font-size: 150%;}
.fz160{ font-size: 160%;}
.fz170{ font-size: 170%;}
.fz180{ font-size: 180%;}
.fz190{ font-size: 190%;}
.fz200{ font-size: 200%;}

.bg_red{ background-color: #f12f2f;}
.bg_yellow{ background-color: #ffe261;}
.c_red{ color: #f12f2f;} //textcolor
.c_yellow{ color: #ffe261;} //textcolor

.wrap_all{
	position: relative;
	background-color: #ddd;
	z-index: 2;
}
.wrap_inner{
	margin: 0 auto;
	max-width: 750px;
	background-color: #fff;
}


.baseW{
	margin: 0 auto;
	width: 90.6%;


}
.shout{
	&::before{
		content: "|";
		display: inline-block;
		transform: rotate(-20deg);
		margin-right: 0.5em;
	}
	&::after{
		content: "|";
		display: inline-block;
		transform: rotate(20deg);
		margin-left: 0.5em;
	}
}


/* Line　mvだけ違いあり */
.to_line{
	margin: 0 auto;
	width: 78.6%;
	text-align: center;
	font-weight: 900;

	.bg_red &{
		color: #fff;
	}
	
	h3{
		padding: 3% 0;
		font-size: 130%;
		border-top: 2px dotted #323232;
		border-bottom: 2px dotted #323232;

		.bg_red &{
			border-top-color: #fff;
			border-bottom-color: #fff;
		}

		.mv &{
			padding: 1% 0 0.5%;
			font-size: 140%;
			border-top-style: solid;
			border-bottom-style: solid;
		}
	}
	a{
		display: block;
		margin: 6.6% auto 3.3%;
		width: 95%;

		animation-name:dokidoki;	/* アニメーション名の指定 */
		animation-delay:0s;		/* アニメーションの開始時間指定 */
		animation-duration: 1.5s;	/* アニメーション動作時間の指定 */
		animation-timing-function: ease-in-out;
		/* アニメーションの動き（徐々に早く徐々に遅く）*/
		animation-iteration-count: infinite; /* アニメーションをループさせる */

		.mv &{
			margin: 4% auto 2%;
		}

		img{
			display: block;
		}
	}
	.caption{
		font-size: 110%;
	}
}

@keyframes dokidoki {
	0% {
		transform: scale(1);
	}
  
	40% {
		transform: scale(1);
	}
  
	50% {
		transform: scale(1.1);
	}
	
	60% {
		transform: scale(1);
	}
	 
	100% {
		transform: scale(1);
	}
}


.frame_title{
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%) translateY(-50%);
	
	padding: 1% 0 0;
	width: 60%;
	text-align: center;
	font-weight: 900;
	font-size: 150%;
	color: #f12f2f;
	background-color: #ffe261;
	border-radius: 30px;
}
.bd_kakko_title{
	position: relative;
	padding: 3% 0;
	border: 3px solid #fff;
	border-radius: 5px;
	line-height: 1.4;
	text-align: center;

	.commit &{
		border-color: #f12f2f;
	}

	&::before,
	&::after{
		content: "";
		position: absolute;
		display: block;
		left: 9%;
		width: 82%;
		height: 8px;
		background-color: #ecf0f4;

		.bg_red &{
			background-color: #f12f2f;
		}
		.commit &{
			background-color: #fff;
		}
	}
	&::before{
		top: -8px;
	}
	&::after{
		bottom: -8px;
	}

	span{
		display: block;
		font-weight: 900;
	}
}


/* 今なら ページ内に色違いで登場 */
.now{
	padding-bottom: 10%;
	background-color: #ecf0f4;

	&.present{

	}

	&.bg_red{
		padding-bottom: 15%;
		background-color: #f12f2f;

		.now_title h3,
		.sp .txt,
		.lesson .more,
		.lesson .txt .man2man{
			color: #fff;
		}
		.lesson .counter{
			background-color: #ffe261;
			color: #323232;
		}
		.lesson .txt .free{
			color: #ffe261;
		}
	}

	.now_title{
		position: relative;
		text-align: center;
		padding: 14% 0 10%;

		.icon{
			position: absolute;
			left: 50%;
			top: 0;
			width: 25%;
			max-width: 190px;
			transform: translateX(-50%) translateY(-50%);

			.bg{
				img{
					display: block;
					width: 100%;
				}
			}
			.txt{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				width: 150%;
				color: #f12f2f;
				font-size: 150%;
				font-weight: 700;
			}
		}
		h3{
			font-size: 140%;
			font-weight: 700;
			line-height: 1.5;
		}
	}

	.career_note{
		position: relative;
		margin-bottom: 3.5%;
		padding: 8% 0;
		background-color: #fff;
		border-radius: 5px;

		.man{
			position: absolute;
			top: 0;
			right: -1.5%;
			transform: translateY(-50%);
			width: 15.3%;
		}

		.original{
			text-align:center;
			font-size: 120%;
			font-weight: 700;
			color: #f12f2f;;
		}
		.map{
			text-align: center;
			font-size: 160%;
			font-weight: 900;
			line-height: 1.3;
			color: #f12f2f;
		}
		.note{
			margin: 0 auto 2%;
			width: 96%;
			img{
				display: block;
			}
		}
		
		.caption{
			margin: 0 auto;
			padding-left: 1em;
			width: 92%;
			font-size: 85%;
			line-height: 1.5;
			text-indent: -1em;

			@include mq(min_sm) {
				text-indent: 0;
			}

			li{
				display: inline;				
				@include mq(min_sm) {
					display: inline-block;
				}
			}
		}
		
	}
	.sp{	
		margin-bottom: 8%;
		.img{
			margin: 0 auto;
			display: block;
			width: 25.4%;
			max-width: 190px;

		}
		.txt{
			text-align: center;
			font-size: 110%;
			font-weight: 700;
		}
	}

	.lesson{
		margin: 0 auto;
		width: 82.7%;

		.more{
			margin-bottom: 2%;
			text-align: center;
			color: #f12f2f;
			font-size: 120%;
			font-weight: 700;
		}
		.counter{
			margin-bottom: 4%;
			padding: 1.5% 0 1%;
			text-align: center;
			background-color: #f12f2f;
			color: #fff;
			font-weight: 900;
			border-radius: 20px;
		}
		.flex{
			margin-bottom: 6%;
			align-items: center;
		}
		.txt{
			margin-left: 3%;
			width: 59%;
			line-height: 1.2;

			.man2man{
				margin-bottom: 3%;
				font-weight: 700;
				font-size: 110%;
			}
			.free{
				color: #f12f2f;
				font-size: 180%;
				font-weight: 900;

				
			}
		}
		.img{
			width: 38.4%;
			max-width: 238px;
		}
	}
}







// メインビュー
.mv{
	padding-bottom: 20%;
	color: #fff;
	text-align: center;

	img{
		display: block;
	}

	.mv_img{
		position: relative;
		top: -1px;
	}

	.mv_point{
		position: relative;
		margin: -29% auto 0;
		width: 86%;
		z-index: 3;

		ul{
			margin: 5% 0 2%;
		}
		li{
			width: 31%;
			max-width: 210px;
			img{
				width: 100%;
			}
		}
		.caption{
			font-size: 90%;
		}
	}
	.mv_point_bottom{
		margin: 0 auto 2%;
		width: 82%;

		.img{
			margin: 0 auto;
			width: 24%;
			max-width: 148px;
		}
		h2{
			margin-top: 7%;
			width: 75;
			line-height: 1.4;
			font-weight: 900;
		}
	}
}

/* 今なら　共通部分以外 */
.present{
	
	.flow{
		position: relative;
		margin-top: 13%;
		padding: 13% 0 10%;
		background-color: #fff;
		border-radius: 7px;

		.man{
			position: absolute;
			left: -2%;
			top: 0;
			transform: translateY(-15%);
			width: 20.9%;
			max-width: 142px;
		}
		.frame_title{
			background-color: #f12f2f;
			color: #fff;
		}
		.content{
			margin: 0 auto 11%;
			width: 85.2%;
			&:last-of-type{
				margin-bottom: 0;
			}

			.img{
				display: block;
				margin: 0 auto 2%;
				width: 51.8%;
				max-width: 300px;
			}
			h4{
				margin-bottom: 2%;
				color: #f12f2f;
				font-size: 110%;
				font-weight: 700;
				line-height: 1.5;
			}

			&:nth-of-type(1) h4,
			&:nth-of-type(2) h4{
				text-align: center;
			}
			.txt{
				font-size: 110%;
			}
		}
	}
}

// 自分の理想を叶えるこんな職場を手に入れたくありませんか？
.ideal{
	.bd_kakko_title{
		margin-bottom: 6%;

		.t1{
			font-size: 150%;
			color: #ffe261;
		}
		.t2{
			font-size: 110%;
			color: #fff;
		}
	}
	
	.baseW{
		position: relative;
		padding: 6.6% 0 14%;
	}

	.man{
		right: 1%;
		top: 0;
		transform: translateY(-60%);
		width: 18.6%;
		max-width: 139px;
	}

	.content{
		margin-bottom: 6%;
		display: flex;
		align-items: center;
		background-color: #fff;
		border-radius: 5px;
		overflow: hidden;

		.img{
			width: 44.2%;
			max-width: 300px;

			img{
				display: block;
				width: 100%;
			}
		}
		.txt{
			margin-left: 5%;
			width: 47%;
			font-size: 110%;
			color: #f12f2f;
			font-weight: 900;
		}
	}
}

.example{
	position: relative;
	padding: 13.3% 0 3%;
	background-color: #ecf0f4;

	.man{
		left: 50%;
		top: 0;
		transform: translateX(-50%) translateY(-50%);
		width: 57.6%;
		max-width: 432px;
	}

	.bd_kakko_title{
		margin-bottom: 2%;
		padding: 0;

		span{
			position: relative;
			display: inline-block;
			z-index: 5;
		}

		.t1{
			margin: -3% 0 1%;
			font-size: 110%;
			color: #323232;
		}
		.t2{
			font-size: 160%;
			color: #f12f2f;
		}
		.t3{
			margin-bottom: -6%;
			font-size: 200%;
			color: #f12f2f;

			background-image: linear-gradient(transparent 60%, #ffe261 60%, #ffe261 90%, transparent 90%);
		}
	}
	.bd_kakko_title + .caption{
		margin: 2% 0 5%;
		text-align: center;
		font-size: 90%;
	}

	.voice_head{
		margin-bottom: 5%;
		.flex{
			justify-content: space-between;
			align-items: center;
		}
		
		
		.img{
			width: 28%;
			max-width: 190px;

			img{
				display: block;
				width: 100%;
				border-radius: 50%;
			}
		}
		.txt{
			width: 68%;
			font-size: 110%;
			font-weight: 900;
			line-height: 1.5;

			.name{
				display: block;
			}
			.up{
				font-size: 110%;
				color: #f12f2f;
			}
			.flex{
				width: 100%;
				justify-content: start;
				
				&:last-of-type{					
					margin-top: 3px;
				}
			}
			.before_after{
				display: inline-block;
				margin-right: 3px;
				padding: 0.5% 0;
				width: 5em;
				text-align: center;
				font-size: 105%;
				color: #fff;
				background-color: #f12f2f;
				border-radius: 3px;
				
			}
		}
	}
	.voice_body{
		margin-bottom: 7%;
		padding: 5%;
		background-color: #fff;
		border-radius: 5px;
		h4{
			font-size: 120%;
			font-weight: 700;
			color: #f12f2f;
		}
	}
	.caption{
		margin: -3% 0 8%;
		font-size: 75%;
	}

	.ex{
		margin: 0 auto;
		width: 81.4%;
		max-width: 610px;
		text-align: center;

		.content{
			margin-bottom: 6%;
		}
		
		h3{
			margin: 0 auto;
			width: 33%;
			color: #fff;
			font-size: 120%;
			font-weight: 900;
			background-color: #f12f2f;
			border-radius: 5px;
		}
		.raise h3{
			margin-bottom: 3%;
		}

		.txt{
			font-size: 90%;
		}
	}
}





.achieve{
	padding-bottom: 10%;

	.achieve_mv{
		position: relative;
		top: -1px;
		margin-bottom: 13.8%;
		img{
			
			display: block;
		}
	}

	.other{
		position: relative;
		margin-bottom: 4.4%;
		padding: 12% 0 4.4%;
		background-color: #ecf0f4;
		text-align: center;
		border-radius: 5px;

		.man{
			left: 50%;
			top: 0;
			transform: translateX(-50%) translateY(-50%);

			width: 15%;
			max-width: 102px;
		}

		h3{
			margin-bottom: 1%;
			font-size: 120%;
			font-weight: 700;
		}

		.flex{
			margin: 0 auto;
			width: 86.5%;

			li{
				width: 30.6%;

				p{
					position: relative;
					padding-bottom: 100%;
					height: 0;
					width: 100%;
					background-color: #fff;
					border-radius: 50%;

					span{
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translateX(-50%) translateY(-50%);
						display: block;
						width: 120%;
						line-height: 1.5;
						font-weight: 700;
					}
				}
			}
		}
	}
	.keiten{
		margin-bottom: 3%;

		h3{
			margin-bottom: 6%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			&::before,
			&::after{
				content: "";
				display: block;
				width: 21.7%;
				height: 2px;
				background-color: #fff;
			}
			&::before{
				margin-left: 6%;
			}
			&::after{
				margin-right: 6%;
			}

			span{
				display: block;
				width: 35.8%;
				max-width: 243px;
				img{
					display: block;
				}
			}
		}
		.flex{
			flex-wrap: wrap;
		}
		li{
			margin-bottom: 2.9%;
			width: 32%;
			max-width: 217px;
			cursor: pointer;

			img{
				display: block;
			}
		}
	}
}

.commit{
	position: relative;
	padding: 7% 0 15%;
	background-color: #fff;

	img{
		display: block;
	}

	.bd_kakko_title{
		margin-bottom: 10%;

		.t1{
			font-size: 130%;
		}
		.t2{
			font-size: 150%;
			color: #f12f2f;
		}
	}
	.man{
		left: 2.7%;
		top: 0;
		transform: translateY(-27%);
		width: 17.4%;
		max-width: 130px;
	}

	.content{
		margin: 0 auto 7%;
		padding-bottom: 1%;
		width: 81.3%;
		border-radius: 5px;
		background-color: #fff;
		overflow: hidden;
		box-shadow: 0 4px 7px rgba(0,0,0,0.3);

		.txt_wrap{
			padding: 6%;
		}
		.flex{
			margin-bottom: 6%;
			align-items: center;
		}
		.point{
			width: 15.2%;
			max-width: 78px;
			img{
				display: block;
			}
		}
		h4{
			width: 81%;
			color: #f12f2f;
			font-weight: 700;
			font-size: 110%;
			line-height: 1.4;
		}
	}

	.commit_ex{
		padding-bottom: 1%;
		position: relative;
		// margin: 10% auto 7%;
		// padding: 7%;
		// width: 81.3%;
		// border: 2px solid #f12f2f;
		// border-radius: 5px;

		.toggle{
			// position: absolute;
			// left: 50%;
			// top: 0;
			// transform: translateX(-50%) translateY(-50%);
			// display: inline-block;
			margin-bottom: 3%;
			padding: 1px 1.5em;
			font-size: 110%;
			font-weight: 700;
			color: #f12f2f;
			background-color: #fff;

			text-align: center;
			text-decoration: underline;

			cursor: pointer;

			&::after{
				content: "";
				margin-left: 0.5em;
				display: inline-block;
				width: 0;
				height: 0;
				border: 4px solid transparent;
				border-top-color: #f12f2f;
				vertical-align: middle;

				@include mq(min_sm) {
					border-width: 6px;
				}
			}
		}
		&.open .toggle::after{
			transform: translateY(-50%) rotate(180deg);
		}
		div.toggle{
			margin-top: -5%;
		}

		.txt_wrap{
			margin: 0 auto 8%;
			width: 81.3%;
			font-size: 110%;
			border: 1px solid #f12f2f;
			line-height: 1.4;
			font-weight: 600;
			.flex{
				border-bottom: 1px solid #f12f2f;
				&:last-of-type{
					border-bottom: none;
				}
			}
			.ttl{
				display: flex;
				align-items: center;
				justify-content: start;

				padding: 2.5%;
				padding-right: 0;
				width: 25%;
				color: #f12f2f;
				background-color: #fbebea;
			}
			.txt{
				padding: 2.5%;
				orphans: 0;
				width: 75%;
			}

		}
	}

	.commit_point{
		margin-bottom: 8%;
		padding: 0 1em;
		text-align: center;
		font-weight: 900;
		font-size: 130%;
		line-height: 1.5;
		color: #f12f2f;
	}
}

// 転職できますか
.canI{
	position: relative;
	padding: 10.6% 0 19%;
	background-color: #ecf0f4;

	.bd_kakko_title{
		margin-bottom: 5%;

		.t1{
			font-size: 110%;
		}
		.t2{
			font-size: 150%;
			color: #f12f2f;
		}
	}
	.man{
		position: absolute;
		left: 50%;
		top: 0;
		transform: translateX(-50%) translateY(-50%);
		width: 16.6%;
		max-width: 124px;

		img{
			display: block;
		}
	}
	
	.silhouette{
		margin: 0 auto;
		padding-bottom: 4%;
		width: 81.3%;

		li{
			margin-bottom: 5%;
		}
		img{
			display: block;
		}
	}
	.same{
		margin-bottom: 6%;
		text-align: center;
		font-size: 120%;
		font-weight: 900;
		line-height: 1.3;
	}
	.shout{
		text-align: center;
		color: #f12f2f;
		font-size: 140%;
		font-weight: 900;
	}
	.content{
		margin: 0 auto;
		padding-bottom: 5%;
		width: 81.3%;
		border-radius: 5px;
		background-color: #fff;
		overflow: hidden;

		h4{
			margin: 4% 0 3%;
			color: #f12f2f;
			font-size: 120%;
			text-align: center;
			font-weight: 700;
		}
		.txt{
			margin: 0 auto;
			width: 88%;
		}
	}
	
}

// 残りわずか
.only{
	overflow: hidden;
	background-color: #ffe261;

	.alert{		
		position: relative;
		margin-left: -1.5%;
		width: 103%;
		

		img{
			display: block;
			width: 100%;

			@include mq(min_sm) {
				height: 20px;
			}
		}
	}
	.txt_img{
		margin: 0 auto;
		padding: 3% 0 ;
		align-items: center;
		width: 80%;

		.txt{
			width: 72%;
			color: #f12f2f;
			font-weight: 700;
			line-height: 1.3;
		}

		.img{
			width: 27.8%;
			max-width: 167px;
			img{
				display: block;
			}
		}
	}

}




// faq
.faq{
	padding: 10% 0 8%;
	background-color: #ecf0f4;

	.contents{
		.content{
			position: relative;
			margin-bottom: 11%;
			padding: 14% 4.2% 8%;
			font-weight: 700;
			background-color: #fff;

			&:last-of-type{
				margin-bottom: 7%;
			}
		}
		h3{
			margin-bottom: 6%;
			text-align: center;
			color: #f12f2f;
			font-size: 150%;
			font-weight: 900;
		}
		.num{
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%) translateY(-15%);
			margin: 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 11.3vw;
			height: 11.3vw;
			color: #fff;
			font-size: 130%;
			font-weight: 900;
			background-color: #f12f2f;
			border-radius: 50%;
			
			@include mq(min_sm) {
				width: 80px;
				height: 80px;
			}
		}
		
		h4,
		.txt{
			padding-left: 1.5%;
			padding-right: 1.5%;
		}
		h4{
			margin-bottom: 1.6em;
			padding-bottom: 1.6em;
			font-weight: 700;
			border-bottom: 2px solid #323232;
		}
	}
}

.footer_link{
	a{
		display: block;
		padding: 4.1% 6%;
		color: #fff;
		
		background-color: #999;
		border-bottom: 2px solid #fff;
	}
	li:last-of-type a{
		border-bottom: none;
	}
}




// ポップアップ
.bg_cover,
.popup,
.popup .content{
	transition: 0.5s;
	transition-property: opacity;
	opacity: 0;

	&.active{
		opacity: 1;		
	}
	&.fadeout{
		opacity: 0;		
	}
}



.bg_cover{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	cursor: pointer;
	z-index: -400;
	
	&.active{
		z-index: 1000;
	}
	
}
.popup{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	padding: 1em 0;
	width: 77%;
	height: 80%;

	max-width: 600px;
	max-height: 700px;

	background-color: #fff;
	border-radius: 7px;
	z-index: -500;

	&.active{
		z-index: 1500;
	}

	.content{
		width: 90%;
		display: none;
		

		&.active{
			display: block;
		}
		h4{
			text-align: center;
			font-weight: 700;

			span{
				display: inline-block;
			}

			.no_limit{
				margin-bottom: 3px;
				padding: 1px 1.25em;
				color: #fff;
				background-color: #f12f2f;
				font-size: 120%;
				border-radius: 30px;
			}
			.ttl{
				width: 100%;
				font-size: 125%;
			}
			.c_red{
				margin: 2% 0;
				font-size: 115%;
				line-height: 1.4;
			}
		}
		.txt{
			margin: 0 auto;
			width: 95%;
			font-weight: 700;
		}



		.to_line{
			width: 100%;
			.caption{
				font-size: 95%;
			}
		}

	}

	.btn{
		position: absolute;
		right: 0;
		top: -50px;
		width: 38px;
		height: 38px;
		cursor: pointer;
		border-radius: 50%;

		&::before,
		&::after{
			content: "";
			position: absolute;
			display: block;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%) rotate(45deg);
			background-color: #fff;
		}
		
		&::before{
			width: 2px;
			height: 100%;
		}

		&::after{
			width: 100%;
			height: 2px;
		}
	}
}